/fig3a_genes.jpg
/fig3a_genes.pdf
/fig3a_genes.png
/fig3a_genes.tiff
/fig3a_goids.jpg
/fig3a_goids.pdf
/fig3a_goids.png
/fig3a_goids.tiff
/fig3b_genes.jpg
/fig3b_genes.pdf
/fig3b_genes.png
/fig3b_genes.tiff
/fig3b_goids.jpg
/fig3b_goids.pdf
/fig3b_goids.png
/fig3b_goids.tiff
/fig3_genes.jpg
/fig3_genes.pdf
/fig3_genes.tiff
/fig3_goids.jpg
/fig3_goids.pdf
/fig3_goids.tiff
